

  <div class="row mt-12">
  
    <div class="col mt-8">
<p>
<%=@event[:date]%>
</p>
<h2><%=@event[:title]%></h2>

<p>
<%=@event[:description]%>
</p>
<h3>
RSVPs
</h3>
 </div>
    <div class="col mt-4">
<h3>
When?
</h3>
<p>
<%=@event[:date]%>
</p>
<h3>
Where?
</h3>
<p>
<%=@event[:location]%>
</p>
<h3>
How many RSVPs so far?
</h3>
<p>
<%=@event[:date]%>
</p>
</div>
